body 
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

table 
{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td 
{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th 
{
    background-color: #f2f2f2;
}

input
{
    width: 30px; 
}

div
{
    width: max-content; 
    height: max-content; 
}

input
{
    border: 1.5px solid black;
    width: 80px;
    text-align: center;
    font-size: 15px;
}

canvas 
{
    background-color: black;
    border: 1px solid rgb(78, 74, 74);
    width: 800px; 
    height: 400px;
}

button
{
    display: middle;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: url(/images/buttonphoto.png);
    background-size: cover;
    cursor: pointer;
}

td
{
    padding: 5px;
}

td 
{
    text-align: left;
}

td 
{
    vertical-align: top;
}

td
{
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.438);
}
